@import "tailwindcss";

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;500;700&display=swap");

@theme {
  --font-sans: "DM Sans", "sans-serif";

  --color-primary: #47a9ff;
  --color-secondary: #ffffff;
  --color-background: #181818;
  --color-accent: #b7b7b7;

  --text-heading: 32px;
  --text-subheading: 20px;
  --text-body: 16px;
  --text-btn: 14px;
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: var(--font-sans);
}
