@import "tailwindcss";

/* Import Font */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;500;700&display=swap");

@theme {
  --font-sans: "DM Sans", "sans-serif";

  --color-primary: #47a9ff;
  --color-secondary: #ffffff;
  --color-background: #181818;
  --color-accent: #b7b7b7;

  --text-heading: 32px;
  --text-subheading: 20px;
  --text-body: 16px;
  --text-btn: 14px;
}

@layer components {
  .input-field {
    @apply w-full pl-10 pr-4 py-3 rounded-lg bg-[#222] border border-accent/20 focus:border-primary focus:ring-1 focus:ring-primary outline-none transition-all text-secondary placeholder:text-gray-600;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-secondary);
  font-family: var(--font-sans);
}
